<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout= "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <title>search</title>
</head>
<body>
<table border="2">
    <thead>
    <tr class="trcc">
        <td >
            <a onclick="tolastchapter()" >上一章</a>
            <a onclick="tolastpage()" >上一页</a>
            <a onclick="tonextpage()" >下一页</a>
            <a onclick="tonextchapter()" >下一章</a>
        </td>
    </tr>
    </thead>
</table>
<table border="2">
    <thead>
    <tr th:each="page:${pageList}" class="trcc">
        <td th:text="${page.chapter_name}"></td>
        <td th:switch="${page.url}">
            <img th:if="${#strings.isEmpty(page.url)}" src="/404.gif"/>
            <img th:if="${page.url} == null" src="/404.gif"/>
            <img th:if="${page.url} != null" th:src="${page.url}"/>
        </td>
    </tr>
    </thead>
</table>
<script type="text/javascript" th:inline="javascript">
    var maxchapter = [[${maxchapter}]];
    var minchapter = [[${minchapter}]];
    var currpage = [[${currpage}]];
    var totalNum = [[${totalNum}]];
    var chapterid = [[${chapterid}]];
    function tonextpage() {
        var num = currpage+1;
        if(num>totalNum){
            num = totalNum;
        }
        window.location = "/pagede/"+chapterid+"?pageNum="+num;
    }
    function tolastpage() {
        var num = currpage-1;
        if(num==0){
            num = 1;
        }
        window.location = "/pagede/"+chapterid+"?pageNum="+num;
    }
    function tonextchapter() {
        chapterid = chapterid+1;
        if(parseInt(chapterid)>parseInt(maxchapter)){
            chapterid = maxchapter;
        }
        window.location = "/pagede/"+chapterid;
    }
    function tolastchapter() {
        chapterid = chapterid-1;
        if(parseInt(chapterid)<parseInt(minchapter)){
            chapterid = minchapter;
        }
        window.location = "/pagede/"+chapterid;
    }
</script>

</body>
</html>