<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.hm_page.mapper.CommonMapper" >

    <!-- 批量插入 BEFORE适合使用在设置UUID的情况，AFTER适合使用在返回自增id的情况-->
    <insert id ="insertChapterBatch" parameterType="java.util.List" >
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"  order= "AFTER">
            SELECT LAST_INSERT_ID() AS value
        </selectKey >
        insert into hm_chapter
        (id, book_id, chapter_name, chapter_num,pagenum,is_end,create_time,create_person,comment)
        values
        <foreach collection ="list" item="hmchapter" index= "index" separator =",">
            (
            #{hmchapter.id},
            #{hmchapter.bookId},
            #{hmchapter.chapterName},
            #{hmchapter.chapterNum},
            #{hmchapter.pagenum},
            #{hmchapter.isEnd},
            #{hmchapter.createTime},
            #{hmchapter.createPerson},
            #{hmchapter.comment}
            )
        </foreach >
    </insert >
    <insert id ="insertPageBatch" parameterType="java.util.List" >
        <selectKey resultType ="java.lang.Integer" keyProperty= "id"  order= "AFTER">
            SELECT LAST_INSERT_ID() AS value
        </selectKey >
        insert into hm_page
        (id, book_id, chapter_id, url,sorting,is_end,create_time,create_person,comment)
        values
        <foreach collection ="list" item="hmpage" index= "index" separator =",">
            (
            #{hmpage.id},
            #{hmpage.bookId},
            #{hmpage.chapterId},
            #{hmpage.url},
            #{hmpage.sorting},
            #{hmpage.isEnd},
            #{hmpage.createTime},
            #{hmpage.createPerson},
            #{hmpage.comment}
            )
        </foreach >
    </insert >

    <!-- 批量删除 -->
    <delete id="deleteChapterBatch">
        <!-- delete from emp where empno in(7980,7981) -->
        delete from user hm_chapter id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>



</mapper>