<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.hm_page.mapper.HmBookMapper" >
  <resultMap id="BaseResultMap" type="com.hm.hm_page.entity.HmBook" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="title_pic" property="titlePic" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="chapter_last" property="chapterLast" jdbcType="VARCHAR" />
    <result column="chapter_last_id" property="chapterLastId" jdbcType="INTEGER" />
    <result column="is_end" property="isEnd" jdbcType="CHAR" />
    <result column="hot" property="hot" jdbcType="DECIMAL" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="latest_time" property="latestTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, title_pic, author, chapter_last, chapter_last_id, is_end, hot, label, 
    type, latest_time, create_time, create_person, comment
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hm.hm_page.entity.HmBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hm_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hm_book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hm_book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hm.hm_page.entity.HmBookExample" >
    delete from hm_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hm.hm_page.entity.HmBook" >
    insert into hm_book (id, title, title_pic, 
      author, chapter_last, chapter_last_id, 
      is_end, hot, label, type, 
      latest_time, create_time, create_person, 
      comment)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{titlePic,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{chapterLast,jdbcType=VARCHAR}, #{chapterLastId,jdbcType=INTEGER}, 
      #{isEnd,jdbcType=CHAR}, #{hot,jdbcType=DECIMAL}, #{label,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{latestTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createPerson,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hm.hm_page.entity.HmBook" >
    insert into hm_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="titlePic != null" >
        title_pic,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="chapterLast != null" >
        chapter_last,
      </if>
      <if test="chapterLastId != null" >
        chapter_last_id,
      </if>
      <if test="isEnd != null" >
        is_end,
      </if>
      <if test="hot != null" >
        hot,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="latestTime != null" >
        latest_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null" >
        #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="chapterLast != null" >
        #{chapterLast,jdbcType=VARCHAR},
      </if>
      <if test="chapterLastId != null" >
        #{chapterLastId,jdbcType=INTEGER},
      </if>
      <if test="isEnd != null" >
        #{isEnd,jdbcType=CHAR},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=DECIMAL},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="latestTime != null" >
        #{latestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hm.hm_page.entity.HmBookExample" resultType="java.lang.Integer" >
    select count(*) from hm_book
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hm_book
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.titlePic != null" >
        title_pic = #{record.titlePic,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterLast != null" >
        chapter_last = #{record.chapterLast,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterLastId != null" >
        chapter_last_id = #{record.chapterLastId,jdbcType=INTEGER},
      </if>
      <if test="record.isEnd != null" >
        is_end = #{record.isEnd,jdbcType=CHAR},
      </if>
      <if test="record.hot != null" >
        hot = #{record.hot,jdbcType=DECIMAL},
      </if>
      <if test="record.label != null" >
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.latestTime != null" >
        latest_time = #{record.latestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createPerson != null" >
        create_person = #{record.createPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hm_book
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      title_pic = #{record.titlePic,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      chapter_last = #{record.chapterLast,jdbcType=VARCHAR},
      chapter_last_id = #{record.chapterLastId,jdbcType=INTEGER},
      is_end = #{record.isEnd,jdbcType=CHAR},
      hot = #{record.hot,jdbcType=DECIMAL},
      label = #{record.label,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      latest_time = #{record.latestTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_person = #{record.createPerson,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hm.hm_page.entity.HmBook" >
    update hm_book
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="titlePic != null" >
        title_pic = #{titlePic,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="chapterLast != null" >
        chapter_last = #{chapterLast,jdbcType=VARCHAR},
      </if>
      <if test="chapterLastId != null" >
        chapter_last_id = #{chapterLastId,jdbcType=INTEGER},
      </if>
      <if test="isEnd != null" >
        is_end = #{isEnd,jdbcType=CHAR},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=DECIMAL},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="latestTime != null" >
        latest_time = #{latestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hm.hm_page.entity.HmBook" >
    update hm_book
    set title = #{title,jdbcType=VARCHAR},
      title_pic = #{titlePic,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      chapter_last = #{chapterLast,jdbcType=VARCHAR},
      chapter_last_id = #{chapterLastId,jdbcType=INTEGER},
      is_end = #{isEnd,jdbcType=CHAR},
      hot = #{hot,jdbcType=DECIMAL},
      label = #{label,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      latest_time = #{latestTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_person = #{createPerson,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>