<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout= "http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta content="text/html;charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="2">
    <thead>
    <tr>
        <td>标题</td>
        <td>封面</td>
        <td>更新时间</td>
    </tr>
    <tr th:each="book:${booklist}">
        <td >
            <a th:href="@{'chapter/'+${book.id}}" th:text="${book.title}"></a>
        </td>
        <td >
            <img  th:src="${book.titlePic}" th:href="@{'chapter/'+${book.id}}"/>
        </td>
        <td th:text="${#dates.format(book.latestTime,'yyyy-MM-dd')}"></td>
    </tr>
    </thead>
</table>





</body>
</html>