<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout= "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

    <title>search</title>
</head>

<body>
<table border="2">
    <thead>
    <tr class="trcc">
        <td >
            <a onclick="tolist()" >回目录</a>
            <a onclick="tolastchapter()" >上一章</a>
            <a onclick="tolastpage()" >上一页</a>
            <a onclick="tonextpage()" >下一页</a>
            <a onclick="tonextchapter()" >下一章</a>
        </td>
    </tr>
    </thead>
</table>
<table border="2">
    <thead>
    <tr th:each="page:${pageList}" class="trcc">
        <td th:switch="${page.imgurl}">
            <img th:if="${#strings.isEmpty(page.imgurl)}" src="/404.gif"/>
            <img th:if="${page.imgurl} == null" src="/404.gif"/>
            <img th:if="${page.imgurl} != null" th:src="${page.imgurl}+'.webp'"/>
        </td>
    </tr>
    </thead>
</table>
<script type="text/javascript" th:inline="javascript">
    var maxchapter = [[${maxchapter}]];
    var minchapter = [[${minchapter}]];
    var currpage = [[${currpage}]];
    var totalNum = [[${totalNum}]];
    var chapterid = [[${chapterid}]];
    var bookid = [[${bookid}]];
    // var ctxPath=[[${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() }]];
    // console.log(ctxPath);
    function tonextpage() {
        var num = currpage+1;
        if(num>totalNum){
            num = totalNum;
        }
        window.location = "index"+num+".html";
    }
    function tolastpage() {
        var num = currpage-1;
        if(num==0){
            num = 1;
        }
        window.location = "index.html";
    }
    function tonextchapter() {
        chapterid = chapterid+1;
        if(parseInt(chapterid)>parseInt(maxchapter)){
            chapterid = maxchapter;
        }
        window.location = ctxPath+bookid+"/"+chapterid+"/index.html";
    }
    function tolastchapter() {
        chapterid = chapterid-1;
        if(parseInt(chapterid)<parseInt(minchapter)){
            chapterid = minchapter;
        }
        window.location = ctxPath+bookid+"/"+chapterid+"/index.html";
    }
    function tolist() {
        window.location = ctxPath+bookid+"/index.html";
    }
</script>

</body>

</html>